{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    background: whitesmoke;
    color: darkslategrey;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: white;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: darkslategray;
}

nav a {
    text-decoration: : none;
    color: dimgray;
    margin-left: 25px;
    font-size: 14px;
}

nav a::hover {
    color: dodgerblue;
}

.hero {
    text-align: center;
    padding: 80px 20px 60px;
    max-width: 800px;
    margin: 0px;
}

.hero h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 15px;
    color: darkslategray;
}

.hero p {
    font-size: 20px;
    color: dimgray;
    margin-bottom: 30px;
}

.cta-group {
    display: flex;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 6px;
    width: 250px;
    font-size: 16px;
}